<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <title>ik ben Bitterzoet &mdash; {{ page.title }}</title>
    <link rel="stylesheet" href="/css/reset.css" type="text/css">
    <link rel="stylesheet" href="/css/960.css" type="text/css">
    <link rel="stylesheet" href="/css/screen.css" type="text/css">
    <link rel="stylesheet" href="/css/syntax.css" type="text/css">
  </head>

  <body>

    <div id="container" class="container_12">

      <div id="header" class="grid_8">
        <h1>{{ page.title }}</h1>
        <h4>{{ page.date | date_to_string }}</h4>
      </div>

      <div id="content" class="grid_8">

        {{ content }}

      </div>

      <div id="footer" class="grid_8">
        Copyright &copy; 2010 by Mark Mulder<br>
        <a href="http://twitter.com/bitterzoet">Twitter</a>
        <a href="http://github.com/bittersweet">GitHub</a>
        <a href="mailto:markmulder@gmail.com">E-Mail</a>
      </div>

    </div>
  </html>
